@keyframes blink-animation {
  0% {
    opacity: 1; /* Fully visible at the start */
  }
  50% {
    opacity: 0; /* Fully transparent halfway through */
  }
  100% {
    opacity: 1; /* Fully visible at the end to repeat smoothly */
  }
}

.blinking-element {
  animation-name: blink-animation; /* Name of the keyframes */
  animation-duration: 4s; /* Duration of one animation cycle */
  animation-timing-function: linear; /* Animation speed curve */
  animation-iteration-count: infinite; /* Number of times the animation repeats */
}

.chat-btn {
  background-color: #ff6f61;
  color: black;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.chat-btn:hover {
  background-color: #ff3b2f;
}